@font-face {
  font-family: RobotoCondensed-Light;
  src: url(RobotoCondensed-Light.ttf);
}

@font-face {
  font-family: RobotoCondensed-Regular;
  src: url(RobotoCondensed-Regular.ttf);
}

.btn-default {
  color: #333;
  background-color: #ddddd;
  border-color: #ccc;
}

.explorer > .explorer {
    margin-left: -15px;
}

.explorer {
  list-style-type: none;
}

#title {
  font: 30px RobotoCondensed-Regular, Helvetica, Arial, sans-serif;
}

#Layer_1 {
  width: 100%;
}

#well-explorer {
  margin-top: 20px;
}

#row-main {
  height: 100%;
}

#column-editor {
  height: 100%;
}

#input-group {
  width: 100%;
  background-color: #002b36;
}

#input {
  height: 30px;
  font-size: 14px;
  border: 0px solid;
  background-color: transparent;
  color: #268bd2;
}

#output {
   width: 100%;
   height: 459px;
   padding-left: 10px;
   font-size: 14px;
   overflow-y: scroll;
   background-color: transparent;
   color: #93a1a1;
}

#editor {
  width: 100%;
  height: 500px; 
}

#row-spacing {
  height: 50px;
}

#row-footer {
  font-size: 10px;
}