@font-face {
  font-family: RobotoCondensed-Light;
  src: url(RobotoCondensed-Light.ttf);
}

@font-face {
  font-family: RobotoCondensed-Regular;
  src: url(RobotoCondensed-Regular.ttf);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.navbar-right {
  padding-right: 10px;
}

.navbar-nav > li > a {
  padding-top: 27px;
  padding-bottom: 2px;
}

.btn-default {
  color: #333;
  background-color: #dddddd;
  border-color: #ccc;
}

.filename {
  margin-left: 6px;
}

.span-ondrag {
  color: #268bd2;
}

.span-entered {
  color: #ffffff;
}

.explorer-ul-top > .explorer-li {
    margin-left: -38px;
}

.explorer-ul > .explorer-li {
    margin-left: -20px;
}

.explorer {
  list-style-type: none;
}

.column-content .nav-tabs {
  border-bottom-width: 0px;
}

.nav.nav-tabs.inner-tabs {
  border-bottom-width: 1px;
  border-color: #dddddd;
}

.inner-tabs .dropdown-toggle {
  border-width: 0px 0px 1px 0px;
  padding: 5px 10px 5px 10px;
}

.inner-tabs .dropdown-toggle:hover {
  border-color: #dddddd;
  background-color: #ffffff;
  color: #dddddd;
}

.inner-tabs .dropdown-toggle:focus {
  border-color: #dddddd;
  background-color: #ffffff;
  color: #2780e3;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
  border-width: 0px 0px 1px 0px;
  border-color: #dddddd;
  background-color: transparent;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #fff;
}

.text-muted {
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-size: 10px;
}

#navbar-brand {
  position: relative;
  padding: 0px;
}

#updroid {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 65px;
}

#commander {
  position: absolute;
  bottom: -7px;
  left: 76px;
  font: 19px RobotoCondensed-Regular, Helvetica, Arial, sans-serif;
}

#explorer-top .btn {
  background-color: transparent;  
}

#explorer-top .btn:hover {
  color: #268bd2;
}

#file-explorer-title {
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: left;
  font: 18px RobotoCondensed-Regular, Helvetica, Arial, sans-serif;
}

#file-explorer-hr {
  margin-top: 8px;
  margin-bottom: 8px;
}

.file-explorer-hr-ondrag {
  border-top-width: 2px;
  border-color: #268bd2;
}

.file-explorer-hr-entered {
  border-top-width: 2px;
  border-color: #ffffff;
}

li input {
  margin-left: 6px;
  width: 50px;
}

.editor {
  width: 100%;
  height: 500px; 
  border: 1px solid #dddddd;
}

.editor.editor-ondrag {
  border-color: #268bd2;
}

.editor.editor-entered {
  border-color: #ffffff;
}

.tab-content {
  border: 1px solid #dddddd;
}

#input-group {
  border: 1px solid #dddddd;
}

#recycle {
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 2px;
  text-align: center;
  color: #333333;
  border: 1px solid #dddddd;
}

#recycle.recycle-ondrag {
  color: #268bd2;
  border-color: #268bd2;
}

#recycle.recycle-entered {
  color: #ffffff;
  border-color: #ffffff;
}

#row-main {
  height: 100%;
}

#input-group {
  width: 100%;
  background-color: #002b36;
}

#input {
  height: 30px;
  font-size: 14px;
  border: 0px solid;
  background-color: transparent;
  color: #268bd2;
}

#output {
   width: 100%;
   height: 459px;
   padding: 10px;
   font-size: 14px;
   overflow-y: auto;
   background-color: transparent;
   color: #93a1a1;
}