@font-face {
  font-family: RobotoCondensed-Light;
  src: url(RobotoCondensed-Light.ttf);
}

@font-face {
  font-family: RobotoCondensed-Regular;
  src: url(RobotoCondensed-Regular.ttf);
}

#title {
  font: 30px RobotoCondensed-Regular, Helvetica, Arial, sans-serif;
}

#Layer_1 {
  width: 100%;
}

#well-explorer {
  margin-top: 20px;
}

#row-main {
  height: 100%;
}

#column-editor {
  height: 100%;
}

#input {
   width: 100%;
   font-size: 14px;
   border-style: solid;
   border-style: black;
   border-width: 1px;
}

#output {
   width: 100%;
   height: 465px;
   font-size: 14px;
   overflow-y: scroll;
}

#editor {
  width: 100%;
  height: 500px; 
}

#row-spacing {
  height: 50px;
}

#row-footer {
  font-size: 10px;
}