@font-face {
  font-family: RobotoCondensed-Light;
  src: url(../assets/RobotoCondensed-Light.ttf);
}

@font-face {
  font-family: RobotoCondensed-Regular;
  src: url(../assets/RobotoCondensed-Regular.ttf);
}

html {
  position: relative;
  height: 100%;
}

body {
  /* Margin bottom by footer height */
}

html, body {
  min-width: 1100px;
  width: auto !important;
  height: 85%;
  min-height: 460px;
}

#row-main {
  height: 100%;
}

.container-fluid {
  height: 100%;
}

#column-0, #column-1, #column-2 {
  height: 100%;
}

.tab-pane {
  height: 100%;
}

.navbar-collapse.collapse {
  display: block !important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-left {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  margin-left: 10px !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 10px !important;
  margin-bottom: 0px !important;
}

.navbar-right {
  float: right !important;
}

#updroid {
  height: 36px;
  margin-top: 2px;
  margin-left: 15px;
}

.btn-default {
  color: #333;
  background-color: #dddddd;
  border-color: #ccc;
}

.filename {
  margin-left: 6px;
}

.span-ondrag {
  color: #268bd2;
}

.span-entered {
  color: #ffffff;
}

#navbar {
  margin-bottom: 10px;
}

.col-xs-2, .col-xs-5 {
  padding-left: 10px;
  padding-right: 10px;
}

#new {
  display: inline-block;
  padding: 2px 4px 2px 4px;
  text-align: center;
  color: #333333;
  border: 1px solid #dddddd;
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  font-size: 15px;
}

#explorer-body > .explorer-li {
    margin-left: -38px;
}

.explorer-ul > .explorer-li {
    margin-left: -20px;
}

.explorer {
  list-style-type: none;
}

#explorer-body .btn {
  background-color: transparent;
}

#explorer-body {
  display: inline-block;
  float: left;
  clear: both;
}

#explorer-body .btn:hover {
  color: #268bd2;
}

#title-container{
  padding-top: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-bottom: none;
  text-align: center;
}

#title-container li{
  list-style-type: none;;
}

#title-wrapper {
  text-align: center;
  padding: 0;
}

#file-explorer-title {
  padding: 5px 5px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font: 18px RobotoCondensed-Regular, Helvetica, Arial, sans-serif;
}

#file-explorer-title #folder {
  margin-left: 4px;
}

#file-explorer-hr-container {
}

#new-file-drop {
  margin-left: 10px;
  margin-right: 10px;
}

#new-file-drop p {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
}

.file-drop-ondrag {
  border-top-width: 2px;
  background-color: #268bd2;
}

.file-drop-entered {
  border-top-width: 2px;
  background-color: #c6e9bb;
}

li div input {
  margin-left: 6px;
  width: 50px;
}

#recycle {
  margin-top: 20px;
  padding: 2px;
  text-align: center;
  color: #333333;
  border: 1px solid #dddddd;
}

#recycle.recycle-ondrag {
  color: #268bd2;
  border-color: #268bd2;
}

#recycle.recycle-entered {
  color: #811819;
  border-color: #811819;
}

#control-buttons {
  border: 0 1px 1px 1px;
  padding: none;
  width: 100%
}

#build-button {
  width: 49%;
  color: #ffffff;
  background-color: #268bd2;
  margin-right:1px;
}

#run-button {
  width: 49%;
  color: #ffffff;
  background-color: #859900;
  margin-left: 1px;
}

#upload {
  width: 99%;
  background-color: #e2695e;
  color: white;
}

.column-content .nav-tabs {
  border-bottom-width: 0px;
}

.nav.nav-tabs.inner-tabs {
  border-bottom-width: 1px;
  border-color: #dddddd;
}

.inner-tabs .dropdown-toggle {
  border-width: 0px 0px 1px 0px;
  padding: 5px 10px 5px 10px;
}



.inner-tabs .dropdown-toggle:hover {
  border-color: #dddddd;
  background-color: #ffffff;
  color: #dddddd;
}

.inner-tabs .dropdown-toggle:focus {
  border-color: #dddddd;
  background-color: #ffffff;
  color: #2780e3;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
  border-width: 0px 0px 1px 0px;
  border-color: #dddddd;
  background-color: transparent;
}

.editor {
  width: 100%;
  min-height: 100px;
  height: 100%;
  border: 1px solid #dddddd;
}

.editor.editor-ondrag {
  border: 10px solid #268bd2;
}

.editor.editor-entered {
  border: 10px solid #ffffff;
}

.editing{
  width: 200%;
}

.highlighted {
  background-color: #ecc4a3;
}

.editor-file-name {
  font-size: 16px;
  padding: 5px 20px 0 0;
  float: right !important;
}

.new-tab-button:hover {
  cursor: pointer;
}

.tab-content {
  border: 1px solid #dddddd;
  min-height: 447px;
  height: 100%;
}

#col-1-tab-content, #col-2-tab-content {
  height: 100%;
  border-bottom: none;
}

.camera {
  margin: none;
  height: 100%;
  border: none;
  background-color: #D1CFD5;
}

.video-canvas {
  display: table;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 5px;
}

.console {
  width: 100%;
  min-height: 100px;
  height: 100%;
  padding: 5px;
  border: 1px solid #dddddd;
  font-size: 11px;
  font-family: "DejaVu Sans Mono", "Liberation Mono", "Andale Mono", monospace;
  overflow-y: none;
}

.console:focus {
  outline: none;
}

.termrow {
  height: 14px;
}

.nav-tabs>li>a.new-tab-button {
  padding-left: 5px;
  padding-right: 5px;
}

#save-input {
  margin-left: 10px;
}

#save-input > * {
  padding: 10px;
  display: inline-block;
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.95);
}

.modal-header {
  padding: 5px;
}

.modal-header h3 {
  margin-left: 20px;
  font: 26px RobotoCondensed-Regular, Helvetica, Arial, sans-serif;

}

.modal-body {
  padding: 10px;
}

.modal-body p {
  padding-left: 20px;
}

#warning{
  margin-left: 52px;
}

#warning *{
  display: inline-block;
}

#warning button{
  margin-left: 20px;
}

.modal-footer {
  padding: 5px;
}

#selector-wrapper {
  text-align: center;
}

#selector-wrapper button{
  margin-left: 20px;
  width: 150px;
  background-color: #E7F4FE;
}

#selector-wrapper button:hover{
  background-color: #003366;
}

.btn-warning {
  padding: 5px 9px 5px 9px;
  background-color: rgb(245, 245, 245);
  border-color: #e3e3e3;
  color: rgb(51, 51, 51);
  outline: none !important;
  box-shadow: none !important;
}

.btn-warning:hover {
  background-color: #e3e3e3;
  border-color: #e3e3e3;
  color: rgb(51, 51, 51);
}

.btn-primary {
  padding: 5px 9px 5px 9px;
  outline: none !important;
  box-shadow: none !important;
}

.popover {
    width: 500px;
}

.footer {
  position: relative;
  bottom: -170px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #fff;
}

.text-muted {
  float: right;
  position: relative;
  bottom: 0px;
  right: 10px;
  font-size: 10px;
}

#side-menu-wrapper {
  padding: 0;
  margin-bottom: 10px;
}

#side-menu {
  float: right;
}

#side-menu button {
  padding: 3px 7px;
  font-size: 13px;
}

#explorer-container{
  border: 0 1px 1px 1px;
  min-height: 300px;
  max-height: 400px;
  overflow: auto;
  padding: none;
}

.explorer-li{
  min-width: 200px;
  cursor: pointer;
}

.hidden {
  display: none;
}

#folder{
  cursor: pointer;
}

#file{
  cursor: pointer;
}