@import (reference) "vars";

/* Main Body */

.fill {
  height: ~"calc(100% - 30px)";
  padding: 0 5px 0 5px;
  border-top: 10px solid @brand-red;
}

.row {
  height: 100%;
  margin: 0;
}

/* Nav/Logo */

div.tab-handle.upcom-logo-handle {
  position: absolute;
  height: 40px;
  width: 80px;
  top: 5px;
  margin-left: 5px;
}

div.tab-handle.upcom-logo-handle>a {
  position: absolute;
  margin-right: 0;
  border: none;
  background-color: @brand-red;
  height: 100%;
  width: 100%;
  padding: 5px;
  z-index: 5;
  .fade();
}

div.tab-handle.upcom-logo-handle>a>.upcom-logo {
  height: 100%;
  width: 100%;
  fill: @upcom-white;
  position: relative;
  top: -2px;
  .fade();
}

div.tab-handle.upcom-logo-handle>a:hover>.upcom-logo {
  fill: @upcom-black;
  .fade();
}

a.help-button,
a.help-button:active,
a.help-button:visited {
  position: absolute;
  margin: 2px 0 0 88px;
  color: @brand-red;
  z-index: 5;
  .fade();
}

a.help-button:hover {
  color: @upcom-med-grey;
  .fade();
}

a.help-button>.glyphicons.glyphicons-circle-question-mark {
  font-size: 18px;
}

/* Columns */

.column-content {
  list-style: none;
  height: ~"calc(100% - 17px)";
  padding-left: 5px;
  padding-right: 5px;
}

.column-content.col-xs-5 {
  width: ~"calc(50% - 110px)";
}

.column-content.col-xs-2 {
  width: 220px;
}

.column-content.col-xs-2.mobile {
  width: 100%;
  height: 100%;
}