@font-face {
  font-family: Avenir Next LT Pro Bold;
  src: url(../fonts/AvenirNextLTPro-Bold.otf);
}

@font-face {
  font-family: Avenir Next LT Pro Regular;
  src: url(../fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: Avenir Next LT Pro Demi;
  src: url(../fonts/AvenirNextLTPro-Demi.otf);
}

@font-face {
  font-family: Monosten A;
  src: url(../fonts/Monosten-A-webfont.ttf);
}

/** Mix-ins */

.font-monosten() {
  font-family:  "Monosten A", monospace;
}

.font-avenir() {
  font-family: "Avenir Next LT Pro Regular";
}

.font-avenir-bold() {
  font-family: "Avenir Next LT Pro Bold";
}

.font-avenir-demi() {
  font-family: "Avenir Next LT Pro Demi"
}

/** Variables */

@brand-red:  #ff2919;
@upcom-grey: #eaecec;
@upcom-black: #0c0c0c;

html, body {
  min-width: 1200px;
  width: auto !important;
  height: 100%;
  min-height: 650px;
}

/** login */

.login-overlay {
  position: absolute;
  display: none;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color:@brand-red;
  opacity: 100;
}

.login-overlay.granted {
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.login-logo {
  display: block;
  width: ~"calc(425px / 2)";
  height: ~"calc(161px / 2)";
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -100px);
}

.login-overlay>h1 {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -30px);
  color: #ffffff;
  font-size: 36px;
  .font-avenir-bold();
}

.animate-end {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.login-logo.animate-end {
  transform: translate(-50%, -130px);
}

.login-overlay>h1.animate-end {
  transform: translate(-50%, -60px);
}

.login-overlay>input {
  display: block;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  border: 5px solid #ffffff;
  background-color:@brand-red;
  padding: 2px;
  .font-monosten();
  color: #ffffff;
}

#login-username-input {
  /* bring your own prefixes */
  transform: translate(-50%, 25px);
}

#login-password-input {
  /* bring your own prefixes */
  transform: translate(-50%, 75px);
}

.login-overlay>input:focus {
  box-shadow: none;
  outline: none;
}

.login-overlay>input.animate-end {
  opacity: 100;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

/** UpCom Body */

.row {
  height: 100%;
}

.fill {
  height: ~"calc(100% - 91px)";
}

.column-content {
  list-style: none;
  height: 100%;
}

.tab-pane {
  height: 100%;
}

/** Navbar */

.navbar-left {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 10px !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 10px !important;
  margin-bottom: 0 !important;
}

.navbar-right {
  float: right !important;
}

.navbar-collapse.collapse {
  display: block !important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

body>.navbar.navbar-inverse {
  background-color: @upcom-grey;
  margin-bottom: 10px;
  border: none;
  min-height: 0;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a:focus {
  padding-top: 10px;
  padding-bottom: 10px;
  color: @upcom-black;
  background-color: @upcom-grey;
  .font-avenir-bold();
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #ffffff;
  background-color:@brand-red;
  .font-avenir-bold();
}

.navbar-inverse .navbar-nav>li>a.feedback-bold,
.navbar-inverse .navbar-nav>li>a:focus.feedback-bold {
  color: #ffffff;
  background-color: #ffd000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#feedback-button {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/** Tabs */

.column-content .nav-tabs {
  border-bottom-width: 0;
}

.nav-tabs>li>a {
  color: #7e7e7e;
  background-color: #ffffff;
  .font-avenir-demi();
  font-size: 14px;
  border-bottom: 1px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  color: @upcom-black;
  background-color: #ffffff;
  .font-avenir-demi();
}

.nav-tabs>li>a.inner-tabs {
  border-bottom: 0;
}

.nav-tabs.inner-tabs {
  margin-bottom: 1px;
}

.nav-tabs>.tab-handle {
  width: auto;
}

.nav-tabs>.tab-handle>a {
  color: #7e7e7e;
  background-color: @upcom-grey;
  padding-right: 20px;
}

.nav-tabs>.tab-handle>.close-control-hitbox {
  cursor: pointer;
  position: relative;
  float: right;
  height: 14px;
  right: 2px;
  padding: 1px;
  z-index: 2;
}

.nav-tabs>.tab-handle>.close-control-hitbox>.close-control {
  position: relative;
  top: 0;
  font-size: 12px;
  color: #ffffff;
  z-index: 2;
}

.nav-tabs>.tab-handle.active>.close-control-hitbox>.close-control {
  color: #dddddd;
}

/* Dropdown Menus */

.dropdown.open>.dropdown-menu {
  margin-top: 0;
  padding: 5px 0 5px 0;
  box-shadow: none;
}

.dropdown-menu>li {
  text-align: left;
}

.dropdown-menu>li>a,
.dropdown-menu>li>div {
  text-align: left;
  padding: 5px 2px 2px 15px;
  .font-avenir();
  font-size: 12px;
  color: @upcom-black;
  border-bottom: 1px;
}

.dropdown-menu>li>a:hover {
  background-color:@brand-red;
  .font-avenir();
}

.dropdown-menu>li>a.disabled,
.dropdown-menu>li>a.disabled:hover {
  background-color: #ffffff;
  color: #e3e3e3;
}

.dropdown.open>.dropdown-menu {
  border: 1px #e3e3e3;
}

.menu-divider {
  margin-top: 5px;
  margin-bottom: 5px;
}

.menu-divider-title {
  position: relative;
  left: 5px;
  margin: 7px 0 0 0;
  .font-avenir-demi();
  color: @upcom-black;
  font-size: 12px;
  line-height: 9px;
}

/** Context Menu */

.context-menu {
  margin: 0;
}

.context-menu > li > a {
  margin: 0;
  padding: 4px;
  font-size: 12px;
}

li div input {
  margin-left: 10px;
  border: 1px solid #e3e3e3;
  padding-left: 5px;
  width: 50px;
}

.upcom-logo {
  margin-top: 6px;
  height: 30px;
  margin-left: 15px;
}

.btn-default {
  color: #333;
  background-color: #dddddd;
  border-color: #ccc;
}

.filename {
  margin-left: 5px;
  .font-avenir-demi();
  font-size: 12px;
}

.col-xs-2, .col-xs-5 {
  padding-left: 10px;
  padding-right: 10px;
}

.inner-tabs .dropdown-toggle {
  border-width: 0 0 1px 0;
  padding: 5px 8px 3px 8px;
  .font-avenir();
  font-size: 12px;
  color: @upcom-black;
}

.inner-tabs .dropdown-toggle:hover {
  border-color: #e3e3e3;
  background-color: #ffffff;
  color: #7e7e7e;
}

.inner-tabs .dropdown-toggle:focus {
  border-color: #e3e3e3;
  background-color: #ffffff;
  color: #7e7e7e;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
  border-width: 0 0 1px 0;
  border-color: #e3e3e3;
  background-color: transparent;
}

.extra-menubar {
  .font-monosten();
  font-size: 12px;
  padding: 3px 8px 0 0;
  float: right !important;
}

.nav-tabs>li>a.new-tab-button {
  padding-left: 5px;
  padding-right: 5px;
  background-color: transparent;
  border-bottom-width: 0;
  .font-avenir-demi();
}

.nav-tabs>li>a.new-tab-button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color:@brand-red;
  border-color:@brand-red;
}

.column-content>.tab-content {
  border: 1px solid #e3e3e3;
  /* Height of nav-tabs */
  height: ~"calc(100% - 40px)";
}

.tab-pane > .tab-content {
  height: ~"calc(100% - 24px)";
  padding: 0 4px 4px 4px;
}

.nav-tabs>li>a.new-tab-button {
  padding-left: 5px;
  padding-right: 5px;
}

#save-input {
  margin-left: 10px;
}

#save-input > * {
  padding: 10px;
  display: inline-block;
}

#make-exec {
  margin-left: 190px;
}

#exec-flag {
  padding: 0 10px;
  margin-top: 0;
  position: relative;
  bottom: 1px;
}

#note {
  margin-left: 10px;
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.95);
}

.modal-header {
  padding: 5px;
}

.modal-header h3 {
  margin-left: 20px;
  .font-avenir-bold();
  font-size: 26px;

}

.modal-body {
  .font-avenir();
  max-height: 450px;
  overflow-y: auto;
  padding: 30px;
}

.btn-primary,
.btn-warning {
  box-shadow: none;
  width: 100%;
  background-color: @upcom-grey;
  color: @upcom-black;
  border: 1px #e3e3e3;
  text-align: center;
  .font-avenir-bold();
  margin-top: 5px;
  margin-left: 0;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.btn-primary:hover,
.btn-warning:hover {
  background-color:@brand-red;
  color: #ffffff;
  border: 1px @brand-red;
}

code, kbd, pre, samp {
  .font-monosten();
}

#warning {
  margin-left: 52px;
}

#warning *{
  display: inline-block;
}

#warning button{
  margin-left: 20px;
}

.modal-footer {
  padding: 5px;
}

/* workspace modal */

#workspace-input *{
  margin-left: 20px;
  display: inline-block;;
}

#selector-wrapper {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.node-wrapper {
  margin-bottom: 10px;
  height: 42px;
  line-height: 42px;
}

.node-wrapper>button {
  margin-right: 20px;
  width: 200px;
  height: 42px;
  text-align: center;
  color: @upcom-black;
  border-color: #e3e3e3;
  .font-avenir-demi();
  background-color: #ffffff;
}

.node-wrapper>button:hover {
  background-color:@brand-red;
  border-color:@brand-red;
  color: #ffffff;
}

#selector-wrapper>.tooltip {
  font-size: 10px;
}

.node-wrapper>input {
  height: 42px;
  padding: 10px;
}

.popover {
  width: 500px;
}

.footer {
  width: 100%;
  height: 30px;
  padding-top: 5px;
  background-color: #ffffff;
}

.text-muted {
  float: right;
  position: relative;
  bottom: 0;
  right: 10px;
  font-size: 10px;
}

/* Submenu CSS */

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: -1px;
  left: 100%;
  margin: 0;
  /*-webkit-border-radius: 0;*/
  /*-moz-border-radius: 0;*/
  border-radius: 0;
  box-shadow: none;
}

.dropdown-submenu span {
  float: right;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}