@font-face {
  font-family: Avenir Next LT Pro Bold;
  src: url(../fonts/AvenirNextLTPro-Bold.otf);
}

@font-face {
  font-family: Avenir Next LT Pro Regular;
  src: url(../fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: Avenir Next LT Pro Demi;
  src: url(../fonts/AvenirNextLTPro-Demi.otf);
}

@font-face {
  font-family: Monosten A;
  src: url(../fonts/Monosten-A-webfont.ttf);
}

/** Mix-ins */

.font-monosten() {
  font-family:  "Monosten A", monospace;
}

.font-avenir() {
  font-family: "Avenir Next LT Pro Regular";
}

.font-avenir-bold() {
  font-family: "Avenir Next LT Pro Bold";
}

.font-avenir-demi() {
  font-family: "Avenir Next LT Pro Demi"
}

/** Variables */

@brand-red: #ff2919;
@upcom-white: #ffffff;
@upcom-off-white: #f1f4f4;
@upcom-light-grey: #eaecec;
@upcom-med-grey: #e3e3e3;
@upcom-dark-grey: #7e7e7e;
@upcom-black: #0c0c0c;

html, body {
  width: auto !important;
  height: 100%;
  min-height: 650px;
  overflow-x: hidden;
}

/* Login */

.login-overlay {
  position: absolute;
  display: none;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color:@brand-red;
  opacity: 100;
}

.login-overlay.granted {
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.login-logo {
  display: block;
  width: ~"calc(425px / 2)";
  height: ~"calc(161px / 2)";
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -100px);
}

.login-overlay>h1 {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -30px);
  color: @upcom-white;
  font-size: 36px;
  .font-avenir-bold();
}

.animate-end {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.login-logo.animate-end {
  transform: translate(-50%, -130px);
}

.login-overlay>h1.animate-end {
  transform: translate(-50%, -60px);
}

.login-overlay>input {
  display: block;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  border: 5px solid @upcom-white;
  background-color:@brand-red;
  padding: 2px;
  .font-monosten();
  color: @upcom-white;
}

#login-username-input {
  /* bring your own prefixes */
  transform: translate(-50%, 25px);
}

#login-password-input {
  /* bring your own prefixes */
  transform: translate(-50%, 75px);
}

.login-overlay>input:focus {
  box-shadow: none;
  outline: none;
}

.login-overlay>input.animate-end {
  opacity: 100;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

/* UpCom Body */

.fill {
  height: ~"calc(100% - 30px)";
  padding: 0 5px 0 5px;
  border-top: 10px solid @brand-red;
}

.row {
  height: 100%;
  margin: 0;
}

.column-content {
  list-style: none;
  height: ~"calc(100% - 17px)";
  padding-left: 5px;
  padding-right: 5px;
}

.column-content.col-xs-5 {
  width: ~"calc(50% - 110px)";
}

.column-content.col-xs-2 {
  width: 220px;
}

/* Nav/Logo */

.col-xs-2>.nav-tabs>li.tab-handle.upcom-logo-handle {
  float: left;
  width: 100px;
  margin-bottom: 10px;
  top: 0;
}

.col-xs-2>.nav-tabs>li.tab-handle.upcom-logo-handle>a {
  margin-right: 0;
  //border-bottom-right-radius: 0;
  border: none;
  background-color: @brand-red;
  //border-color: @brand-red;
  height: 36px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

//.col-xs-2>.nav-tabs>li.tab-handle.upcom-logo-handle>a:hover {
//  background-color: @upcom-light-grey;
//  -webkit-transition: all 0.5s ease;
//  -moz-transition: all 0.5s ease;
//  -o-transition: all 0.5s ease;
//  transition: all 0.5s ease;
//}

.upcom-logo {
  height: 100%;
  width: 100%;
  fill: @upcom-white;
  position: relative;
  top: -4px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.col-xs-2>.nav-tabs>li.tab-handle.upcom-logo-handle>a:hover>.upcom-logo {
  fill: @upcom-black;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a.help-button,
a.help-button:active,
a.help-button:visited {
  position: fixed;
  margin: 4px 0 0 106px;
  color: @brand-red;
}

a.help-button:hover {
  color: @upcom-med-grey;
}

a.help-button>.glyphicons.glyphicons-circle-question-mark {
  font-size: 18px;
}

/* Tabs */

.tab-pane {
  height: 100%;
}

/* Tab Handles */

.column-content .nav-tabs {
  border-bottom-width: 0;
}

.column-content.col-xs-5>.nav-tabs {
  height: 46px;
}

.nav-tabs>li>a {
  color: @upcom-dark-grey;
  background-color: @upcom-white;
  .font-avenir-demi();
  font-size: 14px;
  border-bottom: 1px;
}

.column-content .nav-tabs>.tab-handle,
.column-content .nav-tabs>.tab-control,
.column-content .maximize-button {
  top: 17px;
}

.col-xs-2 .nav-tabs>li.tab-handle {
  float: right;
}

.col-xs-2 .nav-tabs>li.tab-handle>a {
  margin-right: 0;
  border-bottom-right-radius: 2px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  color: @upcom-black;
  background-color: @upcom-white;
  .font-avenir-demi();
}

.nav-tabs>li>a.inner-tabs {
  border-bottom: 0;
}

.nav-tabs.inner-tabs {
  margin-bottom: 1px;
}

.nav-tabs>.tab-handle {
  width: auto;
}

.nav-tabs>.tab-handle>a {
  color: @upcom-dark-grey;
  background-color: @upcom-light-grey;
  padding: 4px 18px 4px 8px;
  border-radius: 0;
}

.col-xs-2 .nav-tabs>.tab-handle>a {
  padding: 4px 8px 4px 8px;
}

.nav-tabs>.tab-handle>.close-control-hitbox {
  cursor: pointer;
  position: relative;
  float: right;
  height: 14px;
  right: 2px;
  padding: 1px;
  z-index: 2;
}

.nav-tabs>.tab-handle>.close-control-hitbox>.close-control {
  position: relative;
  top: 0;
  margin: 3px 3px 0 0;
  font-size: 12px;
  color: @upcom-white;
  z-index: 2;
}

.nav-tabs>.tab-handle>.close-control-hitbox:hover>.close-control {
  color: @upcom-dark-grey;
}

.nav-tabs>.tab-handle.active>.close-control-hitbox>.close-control {
  color: @upcom-med-grey;
}

.nav-tabs>.tab-handle.active>.close-control-hitbox:hover>.close-control {
  color: @upcom-dark-grey;
}

.nav-tabs>li>a.new-tab-button {
  padding: 4px 8px 4px 8px;
  background-color: transparent;
  border-bottom-width: 0;
  .font-avenir-demi();
  border-radius: 0;
}

.nav-tabs>li>a.new-tab-button:hover {
  cursor: pointer;
  color: @upcom-white;
  background-color:@brand-red;
  border-color:@brand-red;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.column-content>.maximize-button {
  position: absolute;
  right: 0;
  padding: 4px 8px 4px 8px;
  margin: 0 5px 0 0;
  border: 1px solid @upcom-white;
  border-bottom-width: 0;
  color: @upcom-dark-grey;
  font-size: 14px;
}

.column-content>.maximize-button:hover {
  color: @upcom-white;
  background-color: @brand-red;
  border-color: @brand-red;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* Dropdown Menus */

.dropdown.open>.dropdown-menu {
  margin-top: 0;
  padding: 5px 0 5px 0;
  box-shadow: none;
}

.dropdown-menu>li {
  text-align: left;
}

.dropdown-menu>li>a,
.dropdown-menu>li>div {
  text-align: left;
  padding: 5px 2px 2px 15px;
  .font-avenir();
  font-size: 12px;
  color: @upcom-black;
  border-bottom: 1px;
}

.dropdown-menu>li>a:hover {
  background-color: @brand-red;
  color: @upcom-white;
  .font-avenir();
}

.dropdown-menu>li>a.disabled,
.dropdown-menu>li>a.disabled:hover {
  background-color: @upcom-white;
  color: @upcom-med-grey;
}

.dropdown.open>.dropdown-menu {
  border: 1px solid @upcom-med-grey;
}

// Dropdown menu input item (see Editor > Settings > Font size)
li div input {
  margin-left: 10px;
  border: 1px solid @upcom-med-grey;
  padding-left: 5px;
  width: 50px;
}

.menu-divider {
  margin-top: 5px;
  margin-bottom: 5px;
}

.menu-divider-title {
  position: relative;
  left: 5px;
  margin: 7px 0 0 0;
  .font-avenir-demi();
  color: @upcom-black;
  font-size: 12px;
  line-height: 9px;
}

/* Context Menu */

.context-menu {
  margin: 0;
}

.context-menu > li > a {
  margin: 0;
  padding: 4px;
  font-size: 12px;
}

/* Submenu CSS */

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: -1px;
  left: 100%;
  margin: 0;
  /*-webkit-border-radius: 0;*/
  /*-moz-border-radius: 0;*/
  border-radius: 0;
  box-shadow: none;
}

.dropdown-submenu span {
  float: right;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

/* Tab Menus */

.inner-tabs .dropdown-toggle {
  border-width: 0 0 1px 0;
  padding: 5px 8px 3px 8px;
  .font-avenir();
  font-size: 12px;
  color: @upcom-black;
}

.inner-tabs .dropdown-toggle:hover {
  border-color: @upcom-med-grey;
  background-color: @upcom-white;
  color: @upcom-dark-grey;
}

.inner-tabs .dropdown-toggle:focus {
  border-color: @upcom-med-grey;
  background-color: @upcom-white;
  color: @upcom-dark-grey;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
  border-width: 0 0 1px 0;
  border-color: @upcom-med-grey;
  background-color: transparent;
}

.extra-menubar {
  .font-monosten();
  font-size: 12px;
  padding: 3px 8px 0 0;
  float: right !important;
}

/* Tab Content */

.column-content>.tab-content {
  border: 1px solid @upcom-med-grey;
  /* Height of nav-tabs */
  height: ~"calc(100% - 29px)";
}

.tab-pane > .tab-content {
  /* Height of menu tabs */
  height: ~"calc(100% - 24px)";
  padding: 0 4px 4px 4px;
  outline: none;
}

.tab-pane > .tab-content:focus {
  outline: none;
}

/* Modal */

h3, h5 {
  .font-avenir-demi();
}

#save-input {
  margin-left: 10px;
}

#save-input > * {
  padding: 10px;
  display: inline-block;
}

#make-exec {
  margin-left: 190px;
}

#exec-flag {
  padding: 0 10px;
  margin-top: 0;
  position: relative;
  bottom: 1px;
}

#note {
  margin-left: 10px;
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 0;
}

.modal-header {
  padding: 5px;
}

.modal-header h3 {
  margin-left: 20px;
  .font-avenir-bold();
  font-size: 26px;

}

.modal-body {
  .font-avenir();
  max-height: 450px;
  overflow-y: auto;
  padding: 30px;
}

.btn-primary,
.btn-warning,
.btn-default {
  box-shadow: none;
  width: 100%;
  background-color: @upcom-light-grey;
  color: @upcom-black;
  border: 1px solid @upcom-med-grey;
  text-align: center;
  .font-avenir-bold();
  margin-top: 5px;
  margin-left: 0;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.btn-primary:hover,
.btn-warning:hover {
  background-color:@brand-red;
  color: @upcom-white;
  border: 1px solid @brand-red;
}

.modal-footer .btn.btn-primary,
.modal-footer .btn.btn-warning {
  margin-left: 0;
}

code, kbd, pre, samp {
  .font-monosten();
}

#warning {
  margin-left: 52px;
}

#warning *{
  display: inline-block;
}

#warning button{
  margin-left: 20px;
}

.modal-footer {
  padding: 5px;
}

/* Workspace Modal */

#workspace-input *{
  margin-left: 20px;
  display: inline-block;;
}

#selector-wrapper {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.node-wrapper {
  margin-bottom: 10px;
  height: 42px;
  line-height: 42px;
}

.node-wrapper>button {
  margin-right: 20px;
  width: 200px;
  height: 42px;
  text-align: center;
  color: @upcom-black;
  border-color: @upcom-med-grey;
  .font-avenir-demi();
  background-color: @upcom-white;
}

.node-wrapper>button:hover {
  background-color:@brand-red;
  border-color:@brand-red;
  color: @upcom-white;
}

#selector-wrapper>.tooltip {
  font-size: 10px;
}

.node-wrapper>input {
  height: 42px;
  padding: 10px;
}

/* Footer */

.footer {
  width: 100%;
  height: 30px;
  padding-top: 5px;
  background-color: @upcom-white;
}

.text-muted {
  float: right;
  position: relative;
  bottom: 0;
  right: 10px;
  font-size: 8px;
  .font-avenir();
}