@font-face {
  font-family: Avenir Next LT Pro Bold;
  src: url(../fonts/AvenirNextLTPro-Bold.otf);
}

@font-face {
  font-family: Avenir Next LT Pro Medium Condensed;
  src: url(../fonts/AvenirNextLTPro-MediumCn.otf);
}

@font-face {
  font-family: Avenir Next LT Pro Regular;
  src: url(../fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: Avenir Next LT Pro Demi;
  src: url(../fonts/AvenirNextLTPro-Demi.otf);
}

@font-face {
  font-family: Monosten A;
  src: url(../fonts/Monosten-A-webfont.ttf);
}

html {
  /*position: relative;*/
  height: 100%;
}

body {
  /* Margin bottom by footer height */
}

html, body {
  min-width: 1100px;
  width: auto !important;
  height: 100%;
  min-height: 460px;
}

.row {
  height: 100%;
  /*padding-bottom: 10px;*/
}

.fill {
  min-height: 400px;
  /* Height of navbar + navbar padding + footer */
  height: calc(100% - 91px);
}

.container-fluid {
  /*height: 100%;*/
}

#column-0, #column-1, #column-2 {
  list-style: none;
  height: 100%;
}

.tab-pane {
  height: 100%;
}

.navbar-collapse.collapse {
  display: block !important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

body>.navbar.navbar-inverse {
  background-color: #eaecec;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 1px;
  border-bottom-color: #e3e3e3;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a:focus {
  color: #0c0c0c;
  background-color: #eaecec;
  font-family: "Avenir Next LT Pro Bold";
  border-color: #0c0c0c;
  border-width: 1px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #ffffff;
  background-color: #ff2919;
  font-family: "Avenir Next LT Pro Bold";
  border-color: #0c0c0c;
  border-width: 1px;
}

.navbar-inverse .navbar-nav>li>a.feedback-bold,
.navbar-inverse .navbar-nav>li>a:focus.feedback-bold {
  color: #ffffff;
  background-color: #ffd000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#feedback-button {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-tabs>li>a {
  color: #7e7e7e;
  background-color: #ffffff;
  font-family: "Avenir Next LT Pro Demi";
  font-size: 14px;
  border-bottom: 1px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover {
  color: #0c0c0c;
  background-color: #ffffff;
  font-family: "Avenir Next LT Pro Bold";
}

.nav-tabs>li>a:hover {
  color: #ffffff;
  background-color: #ff2919;
  font-family: "Avenir Next LT Pro Demi";
}

.nav-tabs>li>a.inner-tabs {
  border-bottom: 0px;
}

.nav-tabs.inner-tabs {
  margin-bottom: 1px;
}

.nav-tabs>.tab-handle {
  width: auto;
}

.nav-tabs>.tab-handle.editing>a {
  padding-top: 7px;
  padding-bottom: 7px;
}

.nav-tabs>.tab-handle.editing>a>input {
  width: 100%;
}

.dropdown-menu>li {
  text-align: left;
}

.dropdown-menu>li>a,
.dropdown-menu>li>div {
  text-align: left;
  padding-left: 20px;
  font-family: "Avenir Next LT Pro Demi";
  font-size: 14px;
  color: #7e7e7e;
  border-bottom: 1px;
}

.dropdown-menu>li>a:hover {
  background-color: #ff2919;
  font-family: "Avenir Next LT Pro Demi";
}

.dropdown.open>.dropdown-menu {
  border-width: 1px;
  border-color: #e3e3e3;
}

li div input {
  margin-left: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #e3e3e3;
  padding-left: 5px;
  width: 50px;
}

.navbar-left {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  margin-left: 10px !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 10px !important;
  margin-bottom: 0px !important;
}

.navbar-right {
  float: right !important;
}

#updroid {
  height: 36px;
  margin-top: 2px;
  margin-left: 15px;
}

.btn-default {
  color: #333;
  background-color: #dddddd;
  border-color: #ccc;
}

.filename {
  margin-left: 5px;
  font-family: "Avenir Next LT Pro Demi";
  font-size: 12px;
}

.span-ondrag {
  color: #ff2919;
}

.span-entered {
  color: #ffffff;
}

#navbar {
  margin-bottom: 10px;
}

.col-xs-2, .col-xs-5 {
  padding-left: 10px;
  padding-right: 10px;
}

.explorer-head {
  padding-top: 10px;
  clear: both;
  text-align: center;
}

.new {
  display: inline-block;
  padding: 2px 4px 2px 4px;
  text-align: center;
  color: #0c0c0c;
  border: 1px solid #dddddd;
  font-family: "Avenir Next LT Pro Demi";
  font-size: 14px;
}

#exp-container {
  height: calc(100% - 28px);
}

.exp {
  height: calc(100% - 153px);
}

.explorer-container {
  background-color: #eaecec;
  border: 1px solid #e3e3e3;
/*  min-height: 300px;*/
  margin-top: 5px;
  margin-bottom: 5px;
  /*max-height: 400px;*/
  overflow: auto;
  box-shadow: none;
}

.explorer-body > .explorer-li {
    margin-left: -40px;
}

.explorer-ul > .explorer-li {
    margin-left: -20px;
}

.explorer {
  list-style-type: none;
}

.explorer-body .btn {
  background-color: transparent;
}

.explorer-body {
  display: inline-block;
  float: left;
  clear: both;
  margin-bottom: 0px;
}

.explorer-body .btn:hover {
  color: #ff2919;
}

.explorer-li {
  list-style: none;
  min-width: 200px;
  cursor: default;
}

#title-container {
  padding-top: 10px;
  color: #0c0c0c;
  margin-bottom: 5px;
  background-color: #eaecec;
  border: 1px solid #e3e3e3;
  font-family: Avenir Next LT Pro Demi;
  font-size: 16px;
  text-align: center;
}

#title-container>div>div>p {
  font-size: 14px;
}

#title-container li {
  list-style-type: none;
}

#file-explorer-title {
  font-family: "Avenir Next LT Pro Demi";
  display: inline-block;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
}

.workspaceName {
  font-family: "Avenir Next LT Pro Demi";
}

#file-explorer-title:hover {
  cursor: pointer;
}

#file-explorer-title #folder {
  margin-left: 4px;
}

.file-container {
  color: #0c0c0c;
  height: 24px;
  line-height: 24px;
}

.file-container>span.glyphicons-folder-open,
.file-container>span.glyphicons-folder-closed {
  padding: 3px;
}

.file-container>span.glyphicons-file {
  color: #363636;
  padding: 3px;
}

.file-container input {
  width: 35%;
  font-family: "Avenir Next LT Pro Demi";
  color: #0c0c0c;
  font-size: 12px;
}

.new-file-drop {
  margin-left: 5px;
  margin-right: 5px;
}

.new-file-drop p {
  font-family: "Avenir Next LT Pro Demi";
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.file-drop-ondrag {
  color: #ffffff;
  border-top-width: 2px;
  background-color: #ff2919;
}

.file-drop-entered {
  color: #ff2919;
  border-top-width: 2px;
  background-color: #ffffff;
}

/** Control **/

#control {

}

#control div h4 {
  padding: 10px 5px;
  border-bottom: 4px solid white;
  margin: 0;
  text-align: center;
  font-family: Avenir Next LT Pro Demi;
}

#packages {
  margin-top: 10px;
  min-height: 200px;
  max-height: 300px;
  overflow: auto;
}

#packages div {
  padding: 0 10px;
}

.package-title {
  width: 120%;
}

.package-name {
  margin: 0 0 0 8px;
  display: inline-block;
  font-family: Avenir Next LT Pro Demi;
  font-size: 13px;
}

.package-files {
  display: inline-block;
  padding: 0 5px;
  white-space: nowrap;
}

.launch span, .node span {
  padding-right: 5px;
}

/** Node in list **/
#packages ul li {
  padding: 2px 5px;
  margin-top: 2px;
  list-style: none;
  font-size: 14px;
  cursor: default;
}

#packages ul li.highlighted {
  background-color: #ff2919;
}

.node-args-input {
  display: block;
  margin: 2px 5px;
}

.control-buttons {
  width: 100%;
  font-family: "Avenir Next LT Pro Demi";
}

.control-buttons button {
  width: 100%;
  margin-top: 5px;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

#control-toggle {
  padding-top: 5px;
  font-size: 14px;
  font-family: "Avenir Next LT Pro Demi";
}

.control-buttons button:hover {
  background-color: #ff2919;
}

#recycle {
  margin-top: 5px;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
  color: #0c0c0c;
  font-family: Avenir Next LT Pro Demi;
  font-size: 14px;
  background-color: #eaecec;
  border: 1px solid #e3e3e3;
}

#recycle.recycle-ondrag {
  color: #ff2919;
  border-color: #ff2919;
}

#recycle.recycle-entered {
  color: #ffffff;
  border-color: #ffffff;
}

.col-xs-2>div>.control-buttons>.btn.btn-sm,
.col-xs-2>div>div>.control-buttons>.btn.btn-sm,
.col-xs-2>div>.control-buttons>.btn.btn-sm.active,
.col-xs-2>div>div>.control-buttons>.btn.btn-sm.active,
.btn-primary,
.btn-warning {
  box-shadow: none;
  width: 100%;
  background-color: #eaecec;
  color: #0c0c0c;
  border-width: 1px;
  border-color: #e3e3e3;
  text-align: center;
  font-family: "Avenir Next LT Pro Bold";
  margin-top: 5px;
  margin-left: 0px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.col-xs-2>div>.control-buttons>.btn.btn-sm:hover,
.col-xs-2>div>div>.control-buttons>.btn.btn-sm:hover,
.btn-primary:hover,
.btn-warning:hover {
  background-color: #ff2919;
  color: #ffffff;
  border-width: 1px;
  border-color: #ff2919;
}

.col-xs-2>div>.control-buttons>.btn.btn-sm:focus,
.col-xs-2>div>div>.control-buttons>.btn.btn-sm:focus {
  box-shadow: none;
  outline: none;
}

.col-xs-2>div>.control-buttons>.btn.btn-sm.control-button-disabled,
.col-xs-2>div>.control-buttons>.btn.btn-sm.control-button-disabled:hover
.col-xs-2>div>div>.control-buttons>.btn.btn-sm.control-button-disabled,
.col-xs-2>div>div>.control-buttons>.btn.btn-sm.control-button-disabled:hover {
  color: #e3e3e3;
}

.col-xs-2>div>.control-buttons>.btn.btn-sm>span,
.col-xs-2>div>.control-buttons>.btn.btn-sm:hover>span,
.col-xs-2>div>div>.control-buttons>.btn.btn-sm>span,
.col-xs-2>div>div>.control-buttons>.btn.btn-sm:hover>span {
  margin-left: 3px;
}

.col-xs-2>div>.control-buttons>.btn.btn-sm>span.glyphicons-refresh.glyph-progress,
.col-xs-2>div>.control-buttons>.btn.btn-sm:hover>span.glyphicons-refresh.glyph-progress {
  -webkit-animation:spin 1.5s linear infinite;
  -moz-animation:spin 1.5s linear infinite;
  animation:spin 1.5s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.column-content .nav-tabs {
  border-bottom-width: 0px;
}

.inner-tabs .dropdown-toggle {
  border-width: 0px 0px 1px 0px;
  padding: 5px 10px 5px 10px;
}

.inner-tabs .dropdown-toggle:hover {
  border-color: #e3e3e3;
  background-color: #ffffff;
  color: #eaecec;
}

.inner-tabs .dropdown-toggle:focus {
  border-color: #e3e3e3;
  background-color: #ffffff;
  color: #ff2919;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
  border-width: 0px 0px 1px 0px;
  border-color: #e3e3e3;
  background-color: transparent;
}

.ace_editor.ace-solarized-dark.updroid_editor,
.ace_editor.ace-solarized-light.updroid_editor {
  font-family: "Monosten A", "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
}

.updroideditor {
  width: 100%;
  min-height: 100px;
  height: 100%;
}

.updroideditor.updroideditor-ondrag {
  border: 10px solid #ff2919;
}

.updroideditor.updroideditor-entered {
  border: 10px solid #ffffff;
}

.editing{
  width: 200%;
}

.file-container.highlighted,
.file-container.highlighted>div>.glyphicons {
  color: #ffffff;
  background-color: #ff2919;
}

.extra-menubar {
  font-family: "Monosten A";
  font-size: 13px;
  padding: 7px 20px 0 0;
  float: right !important;
}

.nav-tabs>li>a.new-tab-button {
  padding-left: 5px;
  padding-right: 5px;
  background-color: transparent;
  border-bottom-width: 0px;
  font-family: "Avenir Next LT Pro Demi";
}

.nav-tabs>li>a.new-tab-button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #ff2919;
  font-family: "Avenir Next LT Pro Demi";
}


.column-content>.tab-content {
  border: 1px solid #e3e3e3;
  min-height: 447px;
  /* Height of nav-tabs */
  height: calc(100% - 40px);
}

.tab-pane>.tab-content {
  height: calc(100% - 30px);
}

#col-1-tab-content, #col-2-tab-content {
  /*height: 100%;*/
  /*border-bottom: none;*/
}

.updroidcamera {
  height: 100%;
  border: none;
  background-color: #D1CFD5;
}

.video-canvas {
  display: table;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 5px;
}

.updroidconsole {
  width: 100%;
  min-height: 100px;
  height: 100%;
  padding: 5px;
  font-size: 11px;
  font-family: "DejaVu Sans Mono", "Liberation Mono", "Andale Mono", monospace;
  overflow-y: hidden;
}

.updroidconsole:focus {
  outline: none;
}

.termrow {
  height: 14px;
}

.nav-tabs>li>a.new-tab-button {
  padding-left: 5px;
  padding-right: 5px;
}

#save-input {
  margin-left: 10px;
}

#save-input > * {
  padding: 10px;
  display: inline-block;
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.95);
}

.modal-header {
  padding: 5px;
}

.modal-header h3 {
  margin-left: 20px;
  font-family: "Avenir Next LT Pro Bold";
  font-size: 26px;

}

.modal-body {
  font-family: "Avenir Next LT Pro Regular";
  max-height: 450px;
  overflow-y: auto;
  padding: 30px;
}

/*.modal-body p {
  padding-left: 20px;
}*/

code, kbd, pre, samp {
  font-family: "Monosten A";
}

#warning{
  margin-left: 52px;
}

#warning *{
  display: inline-block;
}

#warning button{
  margin-left: 20px;
}

.modal-footer {
  padding: 5px;
}

#column-0 > div {
  background-color: #eaecec;
}

#title-wrapper {
  width: 50%;
  text-align: center;
  display: inline-block;
  padding: 5px 0 0 5px;
}

#side-menu button {
  padding: 2px 5px;
}

#side-menu {
  display: inline-block;
  float: right;
}

#selector-wrapper {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.node-wrapper {
  margin-bottom: 10px;
  height: 42px;
  line-height: 42px;
}

.node-wrapper>button {
  margin-right: 20px;
  width: 200px;
  height: 42px;
  text-align: center;
  color: #0c0c0c;
  border-color: #e3e3e3;
  font-family: "Avenir Next LT Pro Demi";
  background-color: #ffffff;
}

.node-wrapper>button:hover {
  background-color: #ff2919;
  border-color: #ff2919;
  color: #ffffff;
}

#selector-wrapper>.tooltip {
  font-size: 10px;
}

.node-wrapper>input {
  height: 42px;
  padding: 10px;
}

.popover {
    width: 500px;
}

.footer {
  width: 100%;
  height: 30px;
  padding-top: 5px;
  background-color: #ffffff;
}

.text-muted {
  float: right;
  position: relative;
  bottom: 0px;
  right: 10px;
  font-size: 10px;
}

/* Explorer */

.explorer-container{
  /*min-height: 300px;*/
  /*max-height: 400px;*/
  overflow: auto;
  padding: 0px;
  height: calc(100% - 104px);
}

.explorer-li{
  min-width: 200px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.folder {
  margin: 0 4px;
  cursor: pointer;
}

.file {
  cursor: pointer;
}